.App {
  background-color: #f9f9f9;
}

.Thread {
  margin: 0 auto;
  max-width: 850px;
  padding: 30px 0;
}

.Thread__subreddit {
  color: #6d6d6d;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.Thread__header {
  display: flex;
  align-items: baseline;
  margin-left: 15px;
  margin-bottom: 10px;
}

.Thread__score {
  margin-right: 15px;
}

.Thread__title {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.Thread__content {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}

.Thread__text {
  border-radius: 15px;
  padding: 15px 40px;
  color: #666;
  background-color: #f1f1f1;
}

.Thread__commentCount {
  color: #000;
  font-size: 12px;
}

.Thread__textParagraph {
  margin: 15px 0;
}

.Thread__textParagraph:first-child {
  margin-top: 0;
}

.Thread__textParagraph:last-child {
  margin-bottom: 0;
}