.App {
  background-color: #f9f9f9;
}

.Thread {
  margin: 0 auto;
  max-width: 850px;
  padding: 30px 0;
}

.Thread__subreddit {
  color: #6d6d6d;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.Thread__header {
  display: flex;
  align-items: baseline;
  margin-left: 15px;
  margin-bottom: 10px;
}

.Thread__score {
  margin-right: 15px;
}

.Thread__title {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.Thread__content {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}

.Thread__text {
  border-radius: 15px;
  padding: 15px 40px;
  color: #666;
  background-color: #f1f1f1;
}

.Thread__commentCount {
  color: #000;
  font-size: 12px;
}

.Thread__textParagraph {
  margin: 15px 0;
}

.Thread__textParagraph:first-child {
  margin-top: 0;
}

.Thread__textParagraph:last-child {
  margin-bottom: 0;
}

.Comment {
  margin: 20px 0 20px 40px;
}

.Comment__title {
  display: flex;
  align-items: center;
}

.Comment__score {
  display: flex;
  margin: 5px;
}

.Comment__body {
  display: flex;
  width: 100%;
}

.Comment__text {
  flex-grow: 1;
}

.Comment__textParagraph {
  margin: 10px 0;
}

.Comment__delete {
  border: none;
  background: none;
  flex-shrink: 0;
}

.Comment__comments {
  margin-left: 20px;
  border-left: 1px solid #000;
}
